@use "variables" as *;


.about {
    position: relative;
    height: 80vh;
    background-color: $secondaryColor;
    display: flex;

    .aboutScribble {
        position: absolute;
        bottom: -1.75rem;
        left: 1.75rem;
    }

    .lefttSide {
        width: 50%;

        img {
            height: 25rem;
            width: 15rem;
            margin: 2rem;
        }
    }

    .rightSide {
        margin: 1rem 4.5rem;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1rem;
        color: green;
    }

    h2 {
        font-size: 2rem;
        margin: 1rem auto;
    }

    p {
        font-size: 0.8em;
    }

    .lists {
        display: flex;

        ul {
            li {
                list-style: none;

                h5 {
                    text-transform: uppercase;
                }
            }
        }

    }
}

button {
    width: 10rem;
    height: 2.5rem;
    border: none;
    color: white;
    background-color: green;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 1rem auto;
}

button:hover {
    background-color: white;
    color: green;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}