@use "variables" as *;




@media (max-width: 1310px) {
    header {
        h1 {
            font-size: 3.5rem;
        }
    }

    .myWorld {
        .welcome {
            margin: 0 8rem 3.6rem;
        }
    }

    .portfolio {
        height: 200vh;

        .portfolioImages {
            flex-direction: column;

            .portfolioCards {
                width: 40%;
                align-items: center;
            }
        }

        .portfolioSquiggle {
            right: 2.5rem;
        }

        .portfolioTitle {
            margin: 2rem 12rem;
        }
    }



}

@media (max-width: 970px) {
    header .introduction h1 {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .myWorld {
        height: 150vh;

        .welcome {
            margin: 0 3rem 2rem;
        }

        .skillBoxes {
            flex-direction: column;

            .skillCube {
                margin: .5rem .5rem;
                height: 13rem;
                width: 23rem
            }
        }
    }

    .about {
        height: 70vh;

        .lefttSide {
            width: 0;
            display: none;
        }
    }

    .portfolio {


        .portfolioImages {
            .portfolioCards {
                width: 80%;
            }
        }

        .portfolioSquiggle {
            top: 1rem;
            right: 1rem;
        }

        .portfolioTitle {
            margin: 2rem 7rem;

            h3 {
                font-size: 1.4rem;
            }
        }
    }

    .getInTouch .touch ul {
        flex-direction: column;

        div {
            margin-top: 1rem;
        }
    }
}


@media (max-width: 560px) {
    header {
        height: 95vh;

        nav {
            display: none;

            ul {
                flex-direction: column;
                align-items: flex-end;
            }
        }

        .mobile {
            display: block;
        }


        .introduction {
            margin: 0 auto;
            padding-top: 5rem;

            h1 {
                font-size: 2.8rem;
                animation: none;
                margin: 1.9rem;
            }

            button {
                width: 8rem;
            }
        }

        .openingStatement {
            margin-left: 4rem;
        }
    }

    .myWorld {
        height: 160vh;

        .myWorldSquiggle {
            top: 0rem;
        }

        .myWorldDashes {
            img {
                display: none;
            }
        }

        .welcome {
            flex-direction: column;
            margin: 0px 1.5rem 4rem;

            h3 {
                font-size: 1.2rem;
            }
        }
    }

    .skillBoxes {
        flex-direction: column;

        .skillCube {
            margin: 1rem auto;
        }
    }
}


.about {
    height: 85vh;
    flex-direction: column-reverse;

    .lefttSide {
        img {
            width: 11rem;
            height: 18rem;
        }
    }
}

.rightSide {
    margin: 1rem 1.5rem;
}


.skills {
    flex-direction: column;
    height: 120vh;

    .leftSkill {
        .text {
            padding: 2rem;
        }
    }

    .rightSkill {
        img {
            width: 15rem;
            height: 15rem;
            margin: 1rem;
        }
    }
}

.portfolio {
    height: 150vh;

    .portfolioSquiggle {
        display: none;
    }

    .portfolioTitle {
        margin: 2rem 2rem;
    }

    .portfolioImages {
        flex-direction: column;

        .portfolioCards {
            width: 80%;

            img {
                margin: .3rem;
            }

            .liveLinks {
                margin: 2rem auto;
                height: 2rem;

                a button {
                    width: 7rem;
                }
            }
        }

        div {
            margin: 0;

            img {
                border-radius: 0.5rem;
                width: 95%;
                height: 17rem;
            }
        }
    }
}

.getInTouch {
    height: 80vh;

    .getInTouchSquiggle {
        img {
            display: none;
        }
    }

    .touch ul {
        margin: 4rem auto;
        flex-direction: column;

        li {
            margin: 1rem 0 0rem 2rem;
        }

    }
}


@media (max-width: 465px) {
    html {
        font-size: 95%;
    }

    header {
        height: 75vh;
    }

    .myWorld {
        height: 130vh;
    }

    .getInTouch {
        height: 70vh;
    }

    footer {
        height: 10vh;
    }
}



footer {
    height: 15vh;
    flex-direction: column;

    .social {
        margin: auto;
    }
}

@media (min-width: 2200px) {
    html {
        font-size: 170%;
    }

    .wrapper {
        max-width: 2000px;
        margin: auto;
    }

    .about,
    .skills {
        p {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 2800px) {
    html {
        font-size: 210%;
    }

    .wrapper {
        max-width: 2400px;
        margin: auto;
    }
}

@media (min-width: 3500px) {
    html {
        font-size: 350%;
    }

    .wrapper {
        max-width: 3200px;
        margin: auto;
    }
}

@media (min-width: 4800px) {
    html {
        font-size: 350%;
    }

    .wrapper {
        max-width: 4200px;
        margin: auto;
    }
}