@use "variables" as *;

@media (max-width: 500px) {
    header {
        height: 100vh;

        .introduction {
            h1 {
                font-size: 2.8rem;
                animation: none;
            }

            button {
                width: 8rem;
            }
        }

        .openingStatement {
            margin-left: 4rem;
        }
    }

    .myWorld {
        height: 180vh;

        .myWorldDashes {
            img {
                display: none;
            }
        }

        .welcome {
            flex-direction: column;
            margin: 0 3rem 5rem;
        }

        .skillBoxes {
            flex-direction: column;

            .skillCube {
                margin: 0;
            }
        }
    }

    .about {
        height: 130vh;
        flex-direction: column;

        .lefttSide {
            img {
                width: 5rem;
            }
        }

        .rightSide {
            margin: 1rem 1.5rem;
        }
    }

    .skills {
        flex-direction: column;
        height: 120vh;

        .leftSkill {
            .text {
                padding: 2rem;
            }
        }

        .rightSkill {
            img {
                width: 5rem;
            }
        }

    }


    .portfolio {
        height: 200vh;

        .portfolioTitle {
            margin: 2rem 1rem 2rem;
        }

        .portfolioSquiggle {
            position: absolute;
            top: -20px;
            left: 50px;
        }

        .portfolioImages {
            div {
                margin: 0;

                img {
                    border-radius: 0.5rem;
                    width: 95%;
                    height: 17rem;
                }
            }
        }
    }

    .getInTouch {
        height: 80vh;

        .getInTouchSquiggle {
            img {
                display: none;
            }
        }

        .touch ul {
            margin: 4rem auto;
            flex-direction: column;

            li {
                margin: 1rem 0 0rem 2rem;
            }

        }
    }

    footer {
        height: 15vh;
    }
}