@use "variables" as *;


.myWorld {
    height: 100vh;
    background-color: seashell;

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 18rem 5rem;

        h2 {
            font-size: 1.7rem;
            text-transform: uppercase;
            margin-top: 8rem;

            i {
                color: $primaryColor;
            }
        }

    }

    .skillBoxes {
        display: flex;
        align-items: center;
        justify-content: center;


        .skillCube {
            height: 15rem;
            width: 17rem;
            border: 2px solid lightgrey;
            margin: 0 .5rem;
            border-radius: 1rem;

            .mySkills {
                margin: 2.5rem;

                i {
                    color: $primaryColor;
                    font-size: 1.6rem;
                }

                h4 {
                    font-size: 1.6rem;
                    margin: 1rem auto;
                }

                p {
                    font-size: .8rem;
                }
            }
        }
    }
}