@use "variables" as *;


.myWorld {
    height: 100vh;
    background-color: seashell;
    position: relative;

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 18rem 5rem;

        h3 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 1.5rem 0;

            i {
                color: green;
            }
        }

    }

    .skillBoxes {
        display: flex;
        align-items: center;
        justify-content: center;


        .skillCube {
            height: 15rem;
            width: 17rem;
            border: 2px solid lightgrey;
            margin: 0 .5rem;
            border-radius: 1rem;

            .mySkills {
                margin: 1.5rem;

                i {
                    color: $primaryColor;
                    font-size: 1.6rem;
                }

                h4 {
                    font-size: 1.6rem;
                    margin: 1rem auto;
                }

                p {
                    font-size: .8rem;
                }
            }
        }
    }

    .myWorldSquiggle {
        position: relative;
        top: 2rem;
        left: 3.5rem;
    }

    .myWorldDashes {
        position: relative;
        bottom: -4rem;
        left: 70rem;
    }
}