@use "variables" as *;


.portfolio {
    height: 100vh;
    background-color: white;

    .portfolioTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5rem 15rem 2rem;

        h3 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 1.5rem 0;

            i {
                color: green;
            }
        }

        .portfoilioLinks {
            display: flex;

            li {
                border: 2px solid lightgrey;
                text-align: center;
                list-style: none;
                border-radius: .3rem;
                margin: 0.2rem;
                padding: 0.2rem;
            }

            li:hover {
                background-color: green;
                color: white;
            }

        }
    }

    .portfolioImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        div {
            width: 19rem;
            height: 17rem;
            // border: 2px solid red;
            margin: 0.5rem;

            img {
                border-radius: 0.5rem;
                width: 19rem;
                height: 17rem;
            }
        }


    }
}