html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 44, 44, 0.6)), to(rgb(44, 44, 44)));
  background-image: linear-gradient(to bottom right, rgba(44, 44, 44, 0.6), rgb(44, 44, 44));
  position: relative;
}
header .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
header .introduction button {
  background-color: transparent;
  width: 9rem;
  height: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  border: 4px solid springgreen;
  border-radius: 0.3rem;
}
header .introduction button:hover {
  background-color: springgreen;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
header .introduction button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
header .introduction h2 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
header .introduction h1 {
  margin: 0.5rem 0;
  font-size: 4rem;
  color: white;
  text-align: center;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
header .introduction h1 span {
  color: springgreen;
}
header .introduction .openingStatement {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 5rem;
}
header nav {
  margin-right: 4rem;
}
header nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 1rem;
}
header nav ul li {
  margin-left: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
header nav ul a:hover {
  color: springgreen;
}
header a {
  text-decoration: none;
  color: #fff;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.mobile {
  font-size: 140%;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: #fff;
  display: none;
}

.mobile a:link,
.mobile a:hover {
  color: #000;
  text-decoration: none;
}

.myWorld {
  height: 100vh;
  background-color: seashell;
  position: relative;
}
.myWorld .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 18rem 5rem;
}
.myWorld .welcome h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.myWorld .welcome h3 i {
  color: green;
}
.myWorld .skillBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.myWorld .skillBoxes .skillCube {
  height: 15rem;
  width: 17rem;
  border: 2px solid lightgrey;
  margin: 0 0.5rem;
  border-radius: 1rem;
}
.myWorld .skillBoxes .skillCube .mySkills {
  margin: 1.5rem;
}
.myWorld .skillBoxes .skillCube .mySkills i {
  color: springgreen;
  font-size: 1.6rem;
}
.myWorld .skillBoxes .skillCube .mySkills h4 {
  font-size: 1.6rem;
  margin: 1rem auto;
}
.myWorld .skillBoxes .skillCube .mySkills p {
  font-size: 0.8rem;
}
.myWorld .myWorldSquiggle {
  position: relative;
  top: 2rem;
  left: 3.5rem;
}
.myWorld .myWorldDashes {
  position: relative;
  bottom: -4rem;
  left: 70rem;
}

.about {
  position: relative;
  height: 80vh;
  background-color: ghostwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .aboutScribble {
  position: absolute;
  bottom: -1.75rem;
  left: 1.75rem;
}
.about .lefttSide {
  width: 50%;
}
.about .lefttSide img {
  height: 25rem;
  width: 15rem;
  margin: 2rem;
}
.about .rightSide {
  margin: 1rem 4.5rem;
}
.about h3 {
  text-transform: uppercase;
  font-size: 1rem;
  color: green;
}
.about h2 {
  font-size: 2rem;
  margin: 1rem auto;
}
.about p {
  font-size: 0.8em;
}
.about .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .lists ul li {
  list-style: none;
}
.about .lists ul li h5 {
  text-transform: uppercase;
}

button {
  width: 10rem;
  height: 2.5rem;
  border: none;
  color: white;
  background-color: green;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem auto;
}

button:hover {
  background-color: white;
  color: green;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.skills {
  height: 70vh;
  background-color: rgb(73, 72, 72);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills .leftSkill .text {
  padding: 4rem;
}
.skills .leftSkill .text h3 {
  color: springgreen;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0;
}
.skills .leftSkill .text h2 {
  font-size: 2rem;
  color: white;
  margin: 1rem auto;
}
.skills .leftSkill .text p {
  color: lightgrey;
  font-size: 0.8rem;
}
.skills .rightSkill img {
  height: 20rem;
  width: 30rem;
}

.portfolio {
  height: 90vh;
  background-color: white;
  position: relative;
  margin: auto;
}
.portfolio .portfolioSquiggle {
  position: absolute;
  top: 5rem;
  left: 2.5rem;
}
.portfolio .portfolioTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 15rem 2rem;
}
.portfolio .portfolioTitle h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.portfolio .portfolioTitle h3 i {
  color: green;
}
.portfolio .portfolioTitle .portfoilioLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .portfolioTitle .portfoilioLinks li {
  border: 2px solid lightgrey;
  text-align: center;
  list-style: none;
  border-radius: 0.3rem;
  margin: 0.2rem;
  padding: 0.2rem;
}
.portfolio .portfolioTitle .portfoilioLinks li:hover {
  background-color: green;
  color: white;
}
.portfolio .portfolioImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .portfolioImages .portfolioCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin: 0.3rem;
}
.portfolio .portfolioImages .portfolioCards .liveLinks {
  height: 2rem;
  margin: 2rem 0.5rem;
}
.portfolio .portfolioImages .portfolioCards .liveLinks a button {
  width: 9rem;
}
.portfolio .portfolioImages .portfolioCards img {
  margin: 1rem;
  height: 13rem;
  width: 18rem;
  border-radius: 5px;
}

.getInTouch {
  height: 65vh;
  background-color: ghostwhite;
  position: relative;
}
.getInTouch .getInTouchSquiggle {
  position: absolute;
  top: 3rem;
  left: 68rem;
}
.getInTouch .touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3rem;
}
.getInTouch .touch h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem 0 1rem;
}
.getInTouch .touch h3 i {
  color: green;
}
.getInTouch ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem auto;
}
.getInTouch ul li {
  list-style: none;
  margin: auto 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.getInTouch ul li .contactImg {
  width: 3rem;
  height: 3rem;
  background-color: springgreen;
  border-radius: 50%;
}
.getInTouch ul li .contactImg i {
  color: white;
  margin: 1rem;
}
.getInTouch ul li .contactInfo {
  margin: 0.5rem 0.5rem;
}

footer {
  height: 5vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(44, 44, 44, 0.6)), to(rgb(44, 44, 44)));
  background-image: linear-gradient(to right, rgba(44, 44, 44, 0.6), rgb(44, 44, 44));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .social {
  margin: auto 1rem;
}
footer .social i {
  font-size: 1.5rem;
}
footer .social a {
  text-decoration: none;
  color: black;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
}
footer .social a:hover {
  color: white;
}

@media (max-width: 1310px) {
  header h1 {
    font-size: 3.5rem;
  }
  .myWorld .welcome {
    margin: 0 8rem 3.6rem;
  }
  .portfolio {
    height: 200vh;
  }
  .portfolio .portfolioImages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .portfolioImages .portfolioCards {
    width: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .portfolioSquiggle {
    right: 2.5rem;
  }
  .portfolio .portfolioTitle {
    margin: 2rem 12rem;
  }
}
@media (max-width: 970px) {
  header .introduction h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .myWorld {
    height: 150vh;
  }
  .myWorld .welcome {
    margin: 0 3rem 2rem;
  }
  .myWorld .skillBoxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myWorld .skillBoxes .skillCube {
    margin: 0.5rem 0.5rem;
    height: 13rem;
    width: 23rem;
  }
  .about {
    height: 70vh;
  }
  .about .lefttSide {
    width: 0;
    display: none;
  }
  .portfolio .portfolioImages .portfolioCards {
    width: 80%;
  }
  .portfolio .portfolioSquiggle {
    top: 1rem;
    right: 1rem;
  }
  .portfolio .portfolioTitle {
    margin: 2rem 7rem;
  }
  .portfolio .portfolioTitle h3 {
    font-size: 1.4rem;
  }
  .getInTouch .touch ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .getInTouch .touch ul div {
    margin-top: 1rem;
  }
}
@media (max-width: 560px) {
  header {
    height: 95vh;
  }
  header nav {
    display: none;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .mobile {
    display: block;
  }
  header .introduction {
    margin: 0 auto;
    padding-top: 5rem;
  }
  header .introduction h1 {
    font-size: 2.8rem;
    -webkit-animation: none;
            animation: none;
    margin: 1.9rem;
  }
  header .introduction button {
    width: 8rem;
  }
  header .openingStatement {
    margin-left: 4rem;
  }
  .myWorld {
    height: 160vh;
  }
  .myWorld .myWorldSquiggle {
    top: 0rem;
  }
  .myWorld .myWorldDashes img {
    display: none;
  }
  .myWorld .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 1.5rem 4rem;
  }
  .myWorld .welcome h3 {
    font-size: 1.2rem;
  }
  .skillBoxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skillBoxes .skillCube {
    margin: 1rem auto;
  }
}
.about {
  height: 85vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.about .lefttSide img {
  width: 11rem;
  height: 18rem;
}

.rightSide {
  margin: 1rem 1.5rem;
}

.skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120vh;
}
.skills .leftSkill .text {
  padding: 2rem;
}
.skills .rightSkill img {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}

.portfolio {
  height: 150vh;
}
.portfolio .portfolioSquiggle {
  display: none;
}
.portfolio .portfolioTitle {
  margin: 2rem 2rem;
}
.portfolio .portfolioImages {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio .portfolioImages .portfolioCards {
  width: 80%;
}
.portfolio .portfolioImages .portfolioCards img {
  margin: 0.3rem;
}
.portfolio .portfolioImages .portfolioCards .liveLinks {
  margin: 2rem auto;
  height: 2rem;
}
.portfolio .portfolioImages .portfolioCards .liveLinks a button {
  width: 7rem;
}
.portfolio .portfolioImages div {
  margin: 0;
}
.portfolio .portfolioImages div img {
  border-radius: 0.5rem;
  width: 95%;
  height: 17rem;
}

.getInTouch {
  height: 80vh;
}
.getInTouch .getInTouchSquiggle img {
  display: none;
}
.getInTouch .touch ul {
  margin: 4rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.getInTouch .touch ul li {
  margin: 1rem 0 0rem 2rem;
}

@media (max-width: 465px) {
  html {
    font-size: 95%;
  }
  header {
    height: 75vh;
  }
  .myWorld {
    height: 130vh;
  }
  .getInTouch {
    height: 70vh;
  }
  footer {
    height: 10vh;
  }
}
footer {
  height: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .social {
  margin: auto;
}

@media (min-width: 2200px) {
  html {
    font-size: 170%;
  }
  .wrapper {
    max-width: 2000px;
    margin: auto;
  }
  .about p,
  .skills p {
    font-size: 1.2rem;
  }
}
@media (min-width: 2800px) {
  html {
    font-size: 210%;
  }
  .wrapper {
    max-width: 2400px;
    margin: auto;
  }
}
@media (min-width: 3500px) {
  html {
    font-size: 350%;
  }
  .wrapper {
    max-width: 3200px;
    margin: auto;
  }
}
@media (min-width: 4800px) {
  html {
    font-size: 350%;
  }
  .wrapper {
    max-width: 4200px;
    margin: auto;
  }
}