html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 90vh;
  background-color: rgb(94, 93, 93);
}
header .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
header .introduction button {
  background-color: transparent;
  width: 9rem;
  height: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  border: 4px solid springgreen;
  border-radius: 0.3rem;
}
header .introduction button:hover {
  background-color: springgreen;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
header .introduction button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
header .introduction h2 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
header .introduction h1 {
  margin: 0.5rem 0;
  font-size: 4rem;
  color: white;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
header .introduction h1 span {
  color: springgreen;
}
header .introduction .openingStatement {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 5rem;
}
header nav {
  margin-right: 4rem;
}
header nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 1rem;
}
header nav ul li {
  margin-left: 3rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
header nav ul a:hover {
  color: springgreen;
}
header a {
  text-decoration: none;
  color: #fff;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.myWorld {
  height: 100vh;
  background-color: seashell;
  position: relative;
}
.myWorld .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 18rem 5rem;
}
.myWorld .welcome h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.myWorld .welcome h3 i {
  color: green;
}
.myWorld .skillBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.myWorld .skillBoxes .skillCube {
  height: 15rem;
  width: 17rem;
  border: 2px solid lightgrey;
  margin: 0 0.5rem;
  border-radius: 1rem;
}
.myWorld .skillBoxes .skillCube .mySkills {
  margin: 2.5rem;
}
.myWorld .skillBoxes .skillCube .mySkills i {
  color: springgreen;
  font-size: 1.6rem;
}
.myWorld .skillBoxes .skillCube .mySkills h4 {
  font-size: 1.6rem;
  margin: 1rem auto;
}
.myWorld .skillBoxes .skillCube .mySkills p {
  font-size: 0.8rem;
}
.myWorld .myWorldSquiggle {
  position: relative;
  top: 40px;
  left: 70px;
}
.myWorld .myWorldDashes {
  position: relative;
  bottom: -80px;
  left: 1400px;
}

.about {
  position: relative;
  height: 80vh;
  background-color: ghostwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .aboutScribble {
  position: absolute;
  bottom: -35px;
  left: 35px;
}
.about .lefttSide {
  width: 50%;
}
.about .lefttSide img {
  height: 25rem;
  width: 25rem;
}
.about .rightSide {
  margin: 1rem 4.5rem;
}
.about h3 {
  text-transform: uppercase;
  font-size: 1rem;
  color: green;
}
.about h2 {
  font-size: 2rem;
  margin: 1rem auto;
}
.about p {
  font-size: 0.8em;
}
.about .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .lists ul li {
  list-style: none;
}
.about .lists ul li h5 {
  text-transform: uppercase;
}

button {
  width: 10rem;
  height: 2.5rem;
  border: none;
  color: white;
  background-color: green;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem auto;
}

button:hover {
  background-color: white;
  color: green;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.skills {
  height: 70vh;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills .leftSkill .text {
  padding: 4rem;
}
.skills .leftSkill .text h3 {
  color: springgreen;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0;
}
.skills .leftSkill .text h2 {
  font-size: 2rem;
  color: white;
  margin: 1rem auto;
}
.skills .leftSkill .text p {
  color: lightgrey;
  font-size: 0.8rem;
}
.skills .rightSkill img {
  height: 20rem;
  width: 30rem;
}

.portfolio {
  height: 100vh;
  background-color: white;
  position: relative;
}
.portfolio .portfolioSquiggle {
  position: absolute;
  top: 100px;
  left: 50px;
}
.portfolio .portfolioTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 15rem 2rem;
}
.portfolio .portfolioTitle h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.portfolio .portfolioTitle h3 i {
  color: green;
}
.portfolio .portfolioTitle .portfoilioLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .portfolioTitle .portfoilioLinks li {
  border: 2px solid lightgrey;
  text-align: center;
  list-style: none;
  border-radius: 0.3rem;
  margin: 0.2rem;
  padding: 0.2rem;
}
.portfolio .portfolioTitle .portfoilioLinks li:hover {
  background-color: green;
  color: white;
}
.portfolio .portfolioImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .portfolioImages div {
  width: 19rem;
  height: 17rem;
  margin: 0.5rem;
}
.portfolio .portfolioImages div img {
  border-radius: 0.5rem;
  width: 19rem;
  height: 17rem;
}

.getInTouch {
  height: 65vh;
  background-color: ghostwhite;
  position: relative;
}
.getInTouch .getInTouchSquiggle {
  position: absolute;
  top: 60px;
  left: 1360px;
}
.getInTouch .touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.getInTouch .touch h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem 0 1rem;
}
.getInTouch .touch h3 i {
  color: green;
}
.getInTouch .touch ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem auto;
}
.getInTouch .touch ul li {
  list-style: none;
  margin: auto 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.getInTouch .touch ul li .contactImg {
  width: 3rem;
  height: 3rem;
  background-color: springgreen;
  border-radius: 50%;
}
.getInTouch .touch ul li .contactImg i {
  color: white;
  margin: 1rem;
}
.getInTouch .touch ul li .contactInfo {
  margin: 0.5rem 0.5rem;
}

footer {
  height: 5vh;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .social {
  margin: auto 1rem;
}
footer .social i {
  font-size: 1.5rem;
}
footer .social a {
  text-decoration: none;
  color: black;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
}
footer .social a:hover {
  color: white;
}

@media (max-width: 500px) {
  header {
    height: 100vh;
  }
  header .introduction h1 {
    font-size: 3rem;
  }
  header .introduction button {
    width: 8rem;
  }
  header .openingStatement {
    margin-left: 4rem;
  }
  .myWorld {
    height: 180vh;
  }
  .myWorld .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 3rem 5rem;
  }
  .myWorld .skillBoxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about {
    height: 130vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .rightSide {
    margin: 1rem 1.5rem;
  }
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120vh;
  }
  .skills .leftSkill .text {
    padding: 2rem;
  }
  .portfolio {
    height: 200vh;
  }
  .portfolio .portfolioTitle {
    margin: 2rem 1rem 2rem;
  }
  .portfolio .portfolioSquiggle {
    position: absolute;
    top: -20px;
    left: 50px;
  }
  .getInTouch {
    height: 80vh;
  }
  .getInTouch .touch ul {
    margin: 4rem auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .getInTouch .touch ul li {
    margin: 1rem 4rem;
  }
}