html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 90vh;
  background-color: rgb(94, 93, 93);
}
header .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}
header .introduction button {
  background-color: transparent;
  width: 9rem;
  height: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  border: 4px solid springgreen;
  border-radius: 0.3rem;
}
header .introduction button:hover {
  background-color: springgreen;
}
header .introduction h2 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}
header .introduction h1 {
  margin-top: 0;
  font-size: 4rem;
  color: white;
}
header .introduction h1 span {
  color: springgreen;
}
header .introduction .openingStatement {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 5rem;
}
header nav {
  margin-right: 4rem;
}
header nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 1rem;
}
header nav ul li {
  margin-left: 3rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
header nav ul li:hover {
  color: springgreen;
}

.myWorld {
  height: 100vh;
  background-color: seashell;
}
.myWorld .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 18rem 5rem;
}
.myWorld .welcome h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-top: 8rem;
}
.myWorld .welcome h2 i {
  color: springgreen;
}
.myWorld .skillBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.myWorld .skillBoxes .skillCube {
  height: 15rem;
  width: 17rem;
  border: 2px solid lightgrey;
  margin: 0 0.5rem;
  border-radius: 1rem;
}
.myWorld .skillBoxes .skillCube .mySkills {
  margin: 2.5rem;
}
.myWorld .skillBoxes .skillCube .mySkills i {
  color: springgreen;
  font-size: 1.6rem;
}
.myWorld .skillBoxes .skillCube .mySkills h4 {
  font-size: 1.6rem;
  margin: 1rem auto;
}
.myWorld .skillBoxes .skillCube .mySkills p {
  font-size: 0.8rem;
}

.about {
  height: 80vh;
  background-color: ghostwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .lefttSide {
  width: 50%;
}
.about .lefttSide img {
  height: 25rem;
  width: 25rem;
}
.about .rightSide {
  margin: 1rem 4.5rem;
}
.about h3 {
  text-transform: uppercase;
  font-size: 1rem;
  color: green;
}
.about h2 {
  font-size: 2rem;
}
.about p {
  font-size: 0.8em;
}
.about .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .lists ul li {
  list-style: none;
}
.about .lists ul li h5 {
  text-transform: uppercase;
}

button {
  width: 10rem;
  height: 2.5rem;
  border: none;
  color: white;
  background-color: green;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}

.skills {
  height: 50vh;
  background-color: grey;
}

.portfolio {
  height: 50vh;
  background-color: black;
}

.getInTouch {
  height: 50vh;
  background-color: ghostwhite;
}

footer {
  height: 50vh;
  background-color: grey;
}